@font-face {
  font-family: "Roboto Mono"; 
  src: url('../public/assets/fonts/RobotoMono-Regular.ttf') format('truetype'); 
}

@font-face {
  font-family: "Trebuchet MS"; 
  src: url('../public/assets/fonts/trebuc.ttf') format('truetype'); 
}